<!--Header-->
<div class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-text ml-auto" href="/login">Logout</a>
  </div>
</div>

<!--content-->
<div class="col-md-12 search-table-col">
  <!--search-->
  <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                                                     placeholder="Search by typing here.."></div>
  <span class="counter pull-right"></span>
  <div class="table-responsive table-bordered table table-hover table-bordered results">
    <table class="table table-bordered table-hover">
      <thead class="bill-header cs">
      <tr class="d-flex">
        <th id="trs-hd" class="col-2">Username</th>
        <th id="trs-hd" class="col-2">Relation to Baby</th>
        <th id="trs-hd" class="col-2">Latest login time</th>
        <th id="trs-hd" class="col-2">Uploads</th>
        <th id="trs-hd" class="col-2">Comments</th>
        <th id="trs-hd" class="col-1">ThumbUP</th>
        <th id="trs-hd" class="col-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="warning no-result">
        <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
      </tr>
      <tr *ngFor="let user of this._users" class="d-flex">
        <td class="col-2" [class.d-none]="user.role==='Admin'">{{user.username}}</td>
        <td class="col-2" [class.d-none]="user.role==='Admin'">{{user.roleName}}</td>
        <td class="col-2" [class.d-none]="user.role==='Admin'">{{user.lastLogin}}</td>
        <td class="col-2" [class.d-none]="user.role==='Admin'">{{user.records.length}}</td>
        <td class="col-2" [class.d-none]="user.role==='Admin'">{{this._commentsDict[user._id]}}</td>
        <td class="col-1" [class.d-none]="user.role==='Admin'">{{this._thumbUpsDict[user.username]}}</td>
        <td class="col-1">
          <button class="btn btn-danger"
                  style="margin-left: 5px;"
                  (click)="onDeleteUser(user._id)"
                  [class.d-none]="user.role==='Admin'">
            <i class="fa fa-trash"
               style="font-size: 15px;"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
