<app-header></app-header>
<!--添加按钮-->
<!--<div class="plus-box"><a class="navbar-text ml-auto" [routerLink]="['./','new']"><i-->
  <!--class="fas fa-plus fontawsome_icon"></i></a></div>-->

<div class="plus-box navbar-text mr-auto">
  <button class="btn btn-info" [routerLink]="['/record', '123']">Add Record</button>
</div>

<!--Content-->
<div class="container cl-container-padding">
  <div *ngFor="let record of records, let i = index">
    <!--config按钮-->
    <div class="jga-widget-tool float-right">
      <a [routerLink]="['./',record._id]">
        <span class="fas fa-cog"> </span>
      </a>
    </div>

    <!--Image or Video-->
    <div [ngSwitch]="record.type">
      <div *ngSwitchCase="'Image'">
        <img class="img-responsive img-rounded cl-widget-images" [src]="record.url" width="100%"/>
      </div>
      <div *ngSwitchCase="'Video'">
        <div class="embed-responsive embed-responsive-16by9 youtube-widget">
          <iframe width="100%" height="360" [src]='sanitizer.bypassSecurityTrustResourceUrl(record.url)'
                  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!--点赞区-->
    <div>
      <a *ngIf="!record.thumbUps.includes('Mom')" (click)="addThumbUp(i)" class="icon-like fontawsome_icon"></a>
      <a *ngIf="record.thumbUps.includes('Mom')" (click)="removeThumbUp(i)" class="icon-likefill fontawsome_icon"></a>
      <span>{{record.thumbUps}} </span>
      <span>赞了一个</span>
    </div>

    <!--评论区-->
    <app-record-comment *ngFor="let comment of record.comments" [comment]="comment"></app-record-comment>
    <!--添加评论-->
    <div>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn col-6">
              <button class="float-right btn btn-primary btn-sm" (click)="onAddComment()">Add Comment</button>
          </span>
      </div>
    </div>
  </div>
</div>

<div class="null-box"></div>
<app-footer></app-footer>
