<div>
  <div class="row">
    <div class="col-md-12">
      <strong>{{comment.username}}</strong>
      <p>{{comment.text}}<i class="icon-delete" aria-hidden="true" (click)="onDeleteComment()" style="cursor: pointer"></i></p>
    </div>
  </div>
  <!--添加评论-->
  <div>
    <div class="input-group">
      <input type="text" class="form-control" name="comment" [ngModel]="text">
      <span class="input-group-btn col-6">
              <button class="float-right btn btn-primary btn-sm" (click)="onAddComment()">Add Comment</button>
          </span>
    </div>
  </div>
</div>
