<app-header></app-header>

<!--content-->
<div class="container cl-container-padding">
  <div class="form-group form-inline">
    <label class="col-2" for="babyname">BabyName</label>
    <input class="form-control ml-2" type="text" id="babyname" placeholder="baby's name">
  </div>
  <div class="form-group form-inline">
    <label class="col-2">Gender</label>
    <label class="ml-3"><input type="radio" name="gender" checked> Boy</label>
    <label class="ml-3"><input type="radio" name="gender"> Girl</label>
  </div>
  <div class="form-group form-inline">
    <label class="col-2" for="birthday">Birthday</label>
    <input class="form-control" type="date" id="birthday">
  </div>
  <div class="form-group form-inline">
    <label class="col-2" for="weight">Weight(lb)</label>
    <input class="form-control" type="text" id="weight" placeholder="weight">
  </div>
  <div class="form-group form-inline">
    <label class="col-2" for="height">Height(cm)</label>
    <input class="form-control" type="text" id="height" placeholder="height">
  </div>
  <div class="form-group offset-md-2">
    <a class="btn btn-info" href="website-list.html">Save</a>
  </div>
</div>

<app-footer></app-footer>
