<!--Header-->
<div class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-text" [routerLink]="['/record']"><i
      class="fas fa-angle-left fontawsome_icon"></i></a>
    <span class="navbar-brand">&nbsp;Profile</span>
    <a class="navbar-text ml-auto" href="/login">Logout</a>
  </div>
</div>

<div class="container cl-container-padding">
  <div *ngIf="errorFlag" class="alert alert-danger">{{ errorMsg }}</div>
  <form (ngSubmit)="onUpdateProfile()" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control"
             [class.is-invalid]="!username.valid && username.touched"
             type="text"
             id="username"
             name="username"
             placeholder="Username"
             [(ngModel)]="user.username"
             required #username="ngModel">
      <small class="form-text text-danger" *ngIf="!username.valid && username.touched">
        Please enter username.
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input class="form-control"
             [class.is-invalid]="!email.valid && email.touched"
             type="email"
             id="email"
             name="email"
             placeholder="sample@google.com"
             [(ngModel)]="user.email"
             email #email="ngModel">
      <small class="form-text text-danger" *ngIf="!email.valid && email.touched">
        Please enter correct email.
      </small>
    </div>

    <div class="form-group form-inline">
      <label class="mr-2">Relation to Baby: </label>
      <label *ngIf="user.role!='Other'">{{user.roleName}}</label>
      <input *ngIf="user.role=='Other'" [(ngModel)]="user.roleName"
             class="form-control"
             type="text"
             name="relation" required>
    </div>
    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-info" type="submit">Save</button>
      <a class="btn btn-success ml-2" [routerLink]="['/record']">Go to Baby's photo album</a>
    </div>
  </form>
</div>

<app-footer></app-footer>
