<!--Header-->
<nav class="navbar mynav navbar-light navbar-expand-md" style="background-color: #f8f9fa;">
  <div class="container">
    <div>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav clearfix">
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/record']" routerLinkActive="active">Photo Album </a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/baby']" routerLinkActive="active">Baby Info </a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/footprint']" routerLinkActive="active">Footprint </a></li>
      </ul>
    </div>
    <div>
      <a class="navbar-text ml-auto" (click)="logout()">Logout</a>
      <!-- <a class="navbar-text ml-auto" href="#"><i class="fas fa-plus fontawsome_icon"></i></a> -->
    </div>
  </div>
</nav>
